

.date-time{
    margin-right: 50px;
    width: 250px;
}

.react-datetime-picker__wrapper {
    border: none !important;
}
.additionaly__date__start {
    padding-bottom: 12px;
    padding-left: 8px;
}
.additionaly__date__title{
    padding-right: 10px;
}
.react-datetime-picker__inputGroup__input:invalid {
    background: transparent;
}