@import "../../../variable.scss";

.information {
  display: flex;
  flex-direction: column;
  border-radius: 10px;  
  background-color: #fff;
  box-shadow: $shadow;
  margin-right: 30px;
  margin-bottom: 20px;
  &__image {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 23px 23px 23px 23px;
    border-bottom: 1px solid $gray;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      width: 235px;
      height: 110px;
      border: 0;  
      object-fit: cover;    
    }
    &__name {
      text-align: center;
      font-size: 25px;
      color: $textColor;
      margin-bottom: 4px;
      font-weight: 400;
    }
    &__category {
      font-size: 13px;
      font-weight: 400;
      color: $gray;
      margin-bottom: 11px;      
    }
    &__download {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      position: relative;
      cursor: pointer;
      background-color: #fff;
      border-radius: 1px;
      border: 1px solid $inputColor;
      height: 26px;    
      min-width: 231px;
      z-index: 2;
      border-radius: 5px;
      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        height: 30px;
      }
      label {
        font-size: 10px;
        font-weight: 400;
        color: $textColor;
        padding: 8px 15px;
        background-color: $buttonColorGray;
        border-left: 1px solid $inputColor;
      }
    }
  }
  &__progress {
    padding: 15px 22px;
    border-bottom: 1px solid $gray;
    &__title {
      font-size: 13px;
      font-weight: 400;
      color: $textColor;
    }
    &__percent {
      color: $textColor;
      font-size: 12px;
    }
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }
    &__line {
      width: 100%;
    }
  }
  &__description {
    border-bottom: 1px solid $gray;
    padding: 23px 23px 45px 23px;
    &__label {
      display: block;
      margin-bottom: 13px;
      font-size: 13px;
      color: $textColor;
    }
    &__text {
      width: 90%;
      height: 100px;
      color: $textColor;
      font-size: 13px;
      border: 1px solid $inputColor;
      border-radius: 5px;
      padding: 10px 12px;
      font-family: $font;
      resize: none;
    }
  }
}

@media (min-width: 768px) {
  .info-block {
    max-width: 334px;
    margin-right: 20px;
    margin-bottom: 0;
  }
}
