$font: "Helvetica";
$textColor: #3d5170;

$green: #0ec261;
$black: #121212;
$gray: #becad6;
$ligth-gray: #e6eaee;


$buttonColor: #007bff;
$buttonColorRed: #99021e;
$buttonColorGray: #a6b4c2c7;

$inputColor: #becad6;
$inputColorActive: #2bff;

$shadow: 1px 6px 20px 1px rgba(77, 83, 90, 0.171);

$mobile: 768px;
$tablet: 1024px;

