
.colors{
    margin-top: 15px;
    &__check{
        margin-top: 10px;        
    }
    &__item{
        font-size: 12px;
        margin-left: 6px;
        margin-top: 0;
        margin-bottom: auto;
    }
}